<dashboard-app
  class="app-container dashboard-container"
  ng-class="{'dashboard-container-with-margins': model.useMargins}"
>
  <!-- Local nav. -->
  <kbn-top-nav name="dashboard" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Title. -->
      <div
        data-transclude-slot="topLeftCorner"
        class="kuiLocalBreadcrumbs"
        data-test-subj="breadcrumbs"
        role="heading"
        aria-level="1"
      >
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="{{landingPageUrl()}}">Tablero</a>
        </div>
        <div class="kuiLocalBreadcrumb">
          {{ getDashTitle() }}
        </div>
      </div>

      <!-- Search. -->
      <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
        <query-bar
          query="model.query"
          app-name="'dashboard'"
          on-submit="updateQueryAndFetch($query)"
          index-patterns="indexPatterns"
        >
        </query-bar>
      </div>
    </div>
  </kbn-top-nav>

  <!-- Filters. -->
  <filter-bar
    ng-show="showFilterBar()"
    state="state"
    index-patterns="indexPatterns"
  ></filter-bar>

  <div
    ng-show="getShouldShowEditHelp()"
    class="text-center start-screen"
  >
    <h2 class="kuiTitle kuiVerticalRhythm">
      Este tablero esta vacío. Complétalo!
    </h2>

    <p class="kuiText kuiVerticalRhythm">
      Haga clic en el botón <a kbn-accessible-click class="kuiButton kuiButton--primary kuiButton--small" ng-click="showAddPanel()" aria-label="Add visualization">Agregar</a> en la parte superior de la barra del menú para agrear una visualización al tablero. <br/>Si aún no ha configurado visualizaciones, <a class="kuiLink" href="#/visualize">visite la aplicación "Visualizar"</a> para crear su primera visualización.
    </p>
  </div>

  <div ng-show="getShouldShowViewHelp()" class="text-center start-screen">
    <h2 class="kuiTitle kuiVerticalRhythm">
      Este tablero esta vacío. Complétalo!
    </h2>

    <p class="kuiText kuiVerticalRhythm">
      Click the <a kbn-accessible-click class="kuiButton kuiButton--primary kuiButton--small" ng-click="enterEditMode()">Edit</a> button in the menu bar above to start working on your new dashboard.
    </p>
  </div>

  <dashboard-viewport-provider
    get-container-api="getContainerApi"
    get-embeddable-factory="getEmbeddableFactory"
  >
  </dashboard-viewport-provider>

</dashboard-app>
